<div fxLayout="column" fxLayoutAlign="center center">
    <h1>{{nodeService.id}}</h1>
    <img src="../../assets/sensor.png">
    <h3>SinkID: {{nodeService.sid}}</h3>
    <h3>Bateria (ue): {{nodeService.battery}}</h3> 
    <h3>Dados Coletados: {{nodeService.dataCollected}}</h3> 
    <h3>Frequência de transferência: {{nodeService.frequencyOfTransfer}}</h3> 
    <h3>Pacotes enviados: {{nodeService.packagesSent}}</h3>
    <h3>Pacotes entregues: {{nodeService.packagesDelivered}}</h3>                         
    <h3>Pacotes perdidos: {{nodeService.packagesLost}}</h3>                                                          
</div>
